* {
    outline: none;
}
html, body {
    height: 100%;
    font-size: 14px;
    word-wrap: break-word;
}
body {
    overflow-y: scroll;
}

input[type="text"], input[type="password"], input[type="email"], textarea {
    border: 1px solid #0066ff;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 6px;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}

    input[type="text"]:focus {
        outline: 0;
    }

textarea {
    padding: 6px;
    box-sizing: border-box;
    resize: none;
}

.list-style-type_none ul {
   list-style-type: none; 
   padding-left: 10px;
}
.text-secondary {
    font-size: 12px;
    color: #9c9c9c;
}
.text-italic {
    font-style: italic;
}
.text-small {
    font-size: 12px;
}
.center {
    text-align: center;
}

.ys-button {
    display: inline-block;
    height: 30px;
    padding: 0 15px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: #0066ff;
    border-radius: 4px;
    border: 1px solid #0066ff;
    cursor: pointer;
    box-sizing: border-box;
}

    .ys-button:hover {
        background: #0000ff;
        text-decoration: none;
    }

    .ys-button[disabled=disabled], .ys-button:disabled {
        background: #bbb;
        border-color: white;
    }

.ys-hide {
    display: none;
}
.ys-invisible {
    visibility: hidden;
}

.ys-ellipsis {
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    max-width: 400px;
    max-height: 2.4em; /* Fallback for non-webkit */
    margin: 0 auto;
    font-size: 13px;
    line-height: 1.2em;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header {
    border-bottom: 1px solid #0066ff;
    height: 60px;
    -moz-min-width: 800px;
    -ms-min-width: 800px;
    -o-min-width: 800px;
    -webkit-min-width: 800px;
    min-width: 800px;
}

.header__logo {
    float: left;
    width: 200px;
}

.header__container {
    /*padding-top: 15px;
    float: right;*/
    margin-left: 200px;
    padding-top: 15px;
}

.header__user-panel {
    float: right;
    height: 100%;
}

.header__search, .header__user-panel {
}

.header__search {
    max-width: 600px;
    /*background: #7895A4;*/
}

.header__search-form {
    height: 30px;
}

.search-form {
    display: table;
    height: 30px;
}

    .search-form input {
        height: 100%;
    }

.search-form__input-text-container {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: top;
}

.search-form__input-text {
    /*margin-right: 30px;*/
    width: 100%;
}

.search-form__submit-button {
    height: 100%;
}

.header__auth-control {
    display: inline-block;
    text-align: right;
    min-width: 200px;
    max-width: 300px;
    font-size: 13px;
    position: relative;
    margin-right: 10px;
}
.header__user-menu-item {
    display: inline-block;
}

.auth-controll__button-item {
    margin: 0 5px;
}

.wrap {
    width: 100%;
    margin: auto;
    padding: 0 0 50px;
    position: relative;
    min-height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
}

.content_main {
    padding-top: 5px;
    width: 930px;
    padding: 10px 0;
    margin: auto;
}


a {
    color: #0066ff;
    font-weight: bolder;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

.presentation-views-list {
    text-align: justify;
}

.presentation_view .link_presentation a {
    display: block;
    line-height: 85%;
}

.presentation_view .link_author a {
    font-weight: normal;
    color: #0066ff;
    line-height: 0.9em;
    font-size: 75%;
}

.footer {
    height: 50px;
    border-top: 1px solid #0066ff;
    text-align: center;
    padding: 15px 0;
    color: #0066ff;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ys-clearfix {
    clear: both;
}

.ys-round-border {
    border: 1px solid #06f;
    border-radius: 4px;
}

.hint, .date {
    font-size: 75%;
    color: Gray;
    display: inline-block;
}

img {
    border-width: 0;
}

.edit-icon {
    position: absolute;
    top: 69px;
    left: 2px;
    opacity: 0.25;
    filter: alpha(Opacity=0.25);
}

    .edit-icon:hover {
        opacity: 1;
        filter: alpha(Opacity=1);
    }


.presentation_title {
    text-overflow: ellipsis;
    white-space: nowrap; /* Запрещаем перенос строк */
    display: block;
    overflow: hidden;
    padding-bottom: 1px;
    font-size: 13px;
}

.control-panel {
    border: solid 1px #0066ff;
    width: 550px;
    margin: auto;
}

.sort-link {
    display: inline-block;
    margin-right: 10px;
}

    .sort-link:hover {
        color: rgba(226, 19, 0, 0.98);
    }

/*.selected-link {
    text-decoration: underline;
}*/

.sort-panel {
    width: 750px;
    margin: auto;
}

.arrow {
    font-size: 150%;
    color: #0066ff;
}

#page-slider {
    width: 350px;
    margin: auto;
    text-align: center;
    padding-top: 20px;
}

.page-link {
    padding: 2px 5px 2px 5px;
    margin: 0 3px 0 3px;
    border: 1px solid #0066ff;
    border-radius: 5px;
}

    .selected, .page-link:hover {
        background: #dfffc8;
        text-decoration: none;
        color: red;
        border-color: red;
    }

.progress-bar-container {
    position: relative;
}

.progress-bar__label {
    font-size: 13px;
    font-weight: normal;
    line-height: 28px;
    text-align: center;
    width: 100%;
    position: absolute;
}
.inline-control-item {
    display: inline-block;
    margin: 0 5px;
}
.link-button {
    font-weight: normal;
    color: #06f;
}
.link-button:hover {
    color: red;
    text-decoration: none;
    cursor: pointer;
}
.link-selected {
    color: black;
}
.state-item {
    text-align: center;
    line-height: 40px;
    color: #aaa;
}
.presentations-container {
    margin: auto;
    width: 900px;
}
.sort-type-ascending::after, .sort-type-descending::after {
    padding-left: 3px;
}
.sort-type-ascending::after {
    content: "\2191";
}
.sort-type-descending::after {
    content: "\2193";
}
.back-to-top-button {
    display: none;
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 70px;
    right: 20px;
    z-index: 999;
    -webkit-border-radius: 30px;
	-moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    cursor: pointer;
}
.user-menu{
    position: relative;
}
.user-menu:hover {
    width: 200px;
}
.user-menu__item a {
    display: block;
    line-height: 20px;
}
.user-menu__item a:hover {
    background-color: #eee;
}
.user-menu__hide-items {
    display: none;
    width: 200px;
    position: absolute;
    right: 0;
    z-index: 9999;
}
.hide-items-wrapper {
    background-color: white;
    border: 1px solid #06f;
    border-radius: 5px;
    padding: 5px;
}
.user-menu:hover .user-menu__hide-items {
    display: block;
}
.user-menu__user-name {
    color: #06f;
    line-height: 30px;
}