<div class="user_panel">
    <div class="btn-container">
        <div class="add_btn">
            <a href="/upload">Добавить</a>
        </div>
    </div>
    <div class="auth_control">
        @if (Request.IsAuthenticated) {
            @Html.ActionLink("Выход", "Signout", "Auth")
        } else {
            @Html.ActionLink("Вход", "Signin", "Auth")
            @Html.ActionLink("Регистрация", "Signup", "Auth")

        }
    </div>
</div>