@model YourSlides.Web.Models.Auth.SignupPage

@{
    ViewBag.Title = "Регистрация";
}

<h2>Регистрация</h2>

@using (Html.BeginForm("Signup", null, FormMethod.Post, new { @class = "registration-form" })) {
    @Html.EditorForModel()
    <input type="image" src="@Url.Content("~/Content/images/registeractive30.jpg")" name="submit" @*value="Зарегистрироваться"*@>
}