@model YourSlides.Web.Models.Auth.SignupPage

@{
    ViewBag.Title = "Регистрация";
}
<div class="auth-form">
    <h2>Регистрация</h2>

    @using (Html.BeginForm("Signup", null, FormMethod.Post, new { @class = "registration-form" })) {
        @Html.EditorForModel()
        <div class="auth-form__submit">
            <button type="submit" class="ys-button"> Зарегистрироваться</button>
        </div>
    }
</div>
