@using System.Web.Optimization
@{
    ViewBag.Title = "Загрузка презентации";
}
@section Styles{
    <link href="@Url.Content("~/Scripts/fine-uploader/fine-uploader-new.css")" rel="stylesheet" type="text/css" />
}

@section head{
    @Scripts.Render("~/bundles/jscolor")
    <script>
        window.onload = function () {
            var uploader = new qq.FineUploader({
                debug: true,
                element: document.getElementById('fine-uploader'),
                multiple: false,
                request: {
                    endpoint: '@Url.Action("UploadFile", "Presentation")'
                },
                retry: {
                    enableAuto: false
                },
                validation: {
                    acceptFiles: ".pdf",
                    allowedExtensions: [".pdf"]
                }
            });
        }

    </script>
}
<div class="registration_form">
    <h2 align="center">Загрузка презентации</h2>
    <div class="notice">
        <p>Выбирите файл с расширением .ppt и .pptx";</p>
    </div>
    <!-- The element where Fine Uploader will exist. -->
    <div id="fine-uploader"></div>
    @using(Html.BeginForm("Edit", "Presentation")) {
        @Html.Partial("_PresentationEditInfoForm")
    }
    

</div>
<script type="text/template" id="qq-template">
    <div class="qq-uploader-selector qq-upload-button-selector qq-uploader" qq-drop-area-text="Перетащите файл сюда или нажмите...">
        <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
            <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
        </div>
        <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
            <span class="qq-upload-drop-area-text-selector"></span>
        </div>
        <div class="qq-hide qq-upload-button">
            <div>Upload a file</div>
        </div>
        <span class="qq-drop-processing-selector qq-hide qq-drop-processing">
            <span>Processing dropped files...</span>
            <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
        </span>
        <ul class="qq-upload-list-selector qq-hide qq-upload-list" aria-live="polite" aria-relevant="additions removals">
            <li>
                <div class="qq-progress-bar-container-selector">
                    <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
                </div>
                <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                <span class="qq-upload-file-selector qq-upload-file"></span>
                <span class="qq-edit-filename-icon-selector qq-edit-filename-icon" aria-label="Edit filename"></span>
                <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                <span class="qq-upload-size-selector qq-upload-size"></span>
                <button type="button" class="qq-btn qq-upload-cancel-selector qq-upload-cancel">Cancel</button>
                <button type="button" class="qq-btn qq-upload-retry-selector qq-upload-retry">Retry</button>
                <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">Delete</button>
                <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
            </li>
        </ul>
    </div>
</script>