@if (Request.IsAuthenticated) {
    @Html.ActionLink("Добавить", "Upload", "Presentation", null, new { @class = "ys-button" })
    <div class="header__auth-control">
        <a herf="@Url.Action("Signout", "Auth")" defualt-behavior>Выход</a>
    </div>
} else {
    @Html.ActionLink("Вход", "Signin", "Auth", null, new { @class = "ys-button auth-controll__button-item" })
    @Html.ActionLink("Регистрация", "Signup", "Auth", null, new { @class = "ys-button auth-controll__button-item" })

}